@use './common.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    font-weight: revert;
    margin: revert;
  }
  a {
    color: revert;
    text-decoration: revert;
  }
  ul,
  ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
}
