.ms-card {
  &-header {
    padding: 18px;
    background: var(--ms-bg);
    margin-bottom: 10px;
    border-radius: 8px;
  }
  &-search {
    padding: 18px 18px 0;
    background: var(--ms-bg);
    margin-bottom: 10px;
    border-radius: 8px;
  }
  &-content {
    padding: 18px;
    background: var(--ms-bg);
    border-radius: 8px;
    &-body {
      @apply flex flex-col;
    }
    &-toolbar {
      margin-bottom: 10px;
    }
  }
}
.card-footer {
  @apply flex;
  margin-top: 10px;
  & > div {
    @apply flex-1 flex justify-center items-center border-r border-t last:border-r-0 cursor-pointer h-10;
    border-color: var(--ms-border-color);
    background: var(--ms-card-footer-bg);
  }
}
