.verifybox {
  @apply relative rounded-sm  bg-white left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  &-top {
    @apply flex  justify-between items-center px-4  text-base text-black border-b border-b-[#e4e7eb];
    height: 50px;
    line-height: 50px;
    &-close {
      @apply w-6 h-6 flex justify-center items-center;
      cursor: pointer;
    }
  }
  &-bottom {
    padding: 15px;
  }
}

.mask {
  @apply fixed top-0 left-0 w-full h-screen bg-black/30 transition-all;
  z-index: 1001;
}
.verify-msg {
  @apply text-black;
}
.verify-tips {
  @apply absolute left-0 bottom-0 w-full text-white;
  height: 30px;
  line-height: 30px;
}
.suc-bg {
  background-color: rgba(92, 184, 92, 0.5);
}
.err-bg {
  background-color: rgba(217, 83, 79, 0.5);
}
.tips-enter,
.tips-leave-to {
  bottom: -30px;
}
.tips-enter-active,
.tips-leave-active {
  transition: bottom 0.5s;
}

/*滑动验证码*/
.verify-bar-area {
  @apply relative bg-white text-center border border-[#ddd];
}

.verify-bar-area .verify-move-block {
  @apply absolute  bg-white cursor-pointer;
  border: 1px solid #ddd;
  top: -1px;
  left: -1px;
  > i {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

.verify-bar-area .verify-left-bar {
  position: absolute;
  top: -1px;
  left: -1px;
  cursor: pointer;
  border: 1px solid #ddd;
}

.verify-img-panel {
  @apply rounded-sm relative  overflow-hidden;
}

.verify-img-panel .verify-refresh {
  @apply absolute top-0 right-0  text-center cursor-pointer;
  width: 25px;
  height: 25px;
  padding: 5px;
  z-index: 3;
}

.verify-bar-area .verify-move-block .verify-sub-block {
  position: absolute;
  text-align: center;
  z-index: 3;
}
